.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1 Trip In Cambodia
          %h3 これまでに5回カンボジアに渡航しています。
.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6
        %hr.section-heading-spacer/
        .clearfix
        %h2.section-heading
          第一回渡航
          %br
          Frist Trip
        %p.lead
          主に、カンボジアで教育支援を行なっています。
        .learn-more_btn_wrapper
          = link_to introductions_path, class: "button change-border01" do
            %span.change-border01__inner learn more
      .col-lg-5.col-lg-offset-2.col-sm-6
        = image_tag "image 1.jpg", class: "img-responsive", alt: ""
.content-section-b
  .container
    .row
      .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
        %hr.section-heading-spacer/
        .clearfix
        %h2.section-heading
          第二回渡航
          %br
          Second Trip
        %p.lead
          「挑戦」と「自己成長の場の創出」を理念に掲げています。
        .learn-more_btn_wrapper
          = link_to missions_path, class: "button change-border01" do
            %span.change-border01__inner learn more
      .col-lg-5.col-sm-pull-6.col-sm-6
        = image_tag "mission.jpg", class: "img-responsive", alt: ""
.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6
        %hr.section-heading-spacer/
        .clearfix
        %h2.section-heading
          第三回渡航
          %br
          Third Trip
        %p.lead
          カンボジアの教育問題を解決すべく、主に二つのプロジェクトを行なっています。
        .learn-more_btn_wrapper
          = link_to actions_path, class: "button change-border01" do
            %span.change-border01__inner learn more
      .col-lg-5.col-lg-offset-2.col-sm-6
        = image_tag "actions.jpg", class: "img-responsive", alt: ""
.content-section-b
  .container
    .row
      .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
        %hr.section-heading-spacer/
        .clearfix
        %h2.section-heading
          第四回渡航
          %br
          Forth Trip
        %p.lead
          学生団体CHAD創設から3年、様々な活動を行ってきました。
        .learn-more_btn_wrapper
          = link_to trails_path, class: "button change-border01" do
            %span.change-border01__inner learn more
      .col-lg-5.col-sm-pull-6.col-sm-6
        = image_tag "trails.jpg", class: "img-responsive", alt: ""
.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6
        %hr.section-heading-spacer/
        .clearfix
        %h2.section-heading
          第五回渡航
          %br
          Fifth Trip
        %p.lead
          CHADを支えるメンバーの紹介です。
        .learn-more_btn_wrapper
          = link_to members_path, class: "button change-border01" do
            %span.change-border01__inner learn more
      .col-lg-5.col-lg-offset-2.col-sm-6
        = image_tag "members.jpg", class: "img-responsive", alt: ""
