!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title 期生一覧
    / Bootstrap Core CSS
    = stylesheet_link_tag    'font-awesome.css', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'bootstrap.css', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'metisMenu.css', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'sb-admin-2.css', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'morris.css', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    #wrapper
      / Navigation
      %nav.navbar.navbar-default.navbar-static-top{:role => "navigation", :style => "margin-bottom: 0"}
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand 学生団体CHAD管理システム
        / /.navbar-header
        %ul.nav.navbar-top-links.navbar-right
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              %i.fa.fa-user.fa-fw
              %i.fa.fa-caret-down
            %ul.dropdown-menu.dropdown-user
              %li
                %a{href: "#"}
                  %i.fa.fa-user.fa-fw
                  プロフィール
              %li
                %a{href: "#"}
                  %i.fa.fa-gear.fa-fw
                  設定
              %li.divider
              %li
                %a{href: "login.html"}
                  %i.fa.fa-sign-out.fa-fw
                  ログアウト
            / /.dropdown-user
          / /.dropdown
        / /.navbar-top-links
        .navbar-default.sidebar{:role => "navigation"}
          .sidebar-nav.navbar-collapse
            %ul#side-menu.nav
              %li.sidebar-search
                .input-group.custom-search-form
                  %input.form-control{:placeholder => "Search...", :type => "text"}/
                  %span.input-group-btn
                    %button.btn.btn-default{:type => "button"}
                      %i.fa.fa-search
                / /input-group
              %li
                %a{href: "index.html"}
                  %i.fa.fa-dashboard.fa-fw
                  Dashboard
              %li
                %a{href: "/admin/kiseis"}
                  %i.fa.fa-bar-chart-o.fa-fw
                  期生
                  %span.fa.arrow
                / %ul.nav.nav-second-level
                /   %li
                /     %a{href: "flot.html"} Flot Charts
                /   %li
                /     %a{href: "morris.html"} Morris.js Charts
                / /.nav-second-level
              %li
                %a{href: "/admin/users"}
                  %i.fa.fa-table.fa-fw
                  メンバー
              %li
                %a{href: "/admin/contacts"}
                  %i.fa.fa-edit.fa-fw
                  お問い合わせ
                / /.nav-second-level
          / /.sidebar-collapse
        / /.navbar-static-side
      #page-wrapper
        .row
          .col-lg-12
            %h1.page-header お問い合わせ一覧
          / /.col-lg-12
        / /.row
        .row
          .col-lg-12
            .panel.panel-default
              .panel-heading
                Contacts DataTables
              / /.panel-heading
              .panel-body
                %table#dataTables-example.table.table-striped.table-bordered.table-hover{width: "100%"}
                  %thead
                    %tr
                      %th 名前
                      %th メール
                      %th 大学・企業
                      %th 学年
                      %th 問い合わせ内容
                      %th 設定
                  %tbody
                  -@contacts.each do |contact|
                    %tr.odd.gradeX
                      %td
                        =contact.name
                      %td
                        =contact.email
                      %td
                        =contact.university
                      %td
                        =contact.grade
                      %td
                        =contact.text
                      %td.center
                        =link_to root_path, class: "edit-btn", style: "width: 50%; height: 100%; display: block; float: left;" do
                          編集
                        =link_to root_path, class: "delete-btn", style: "width: 50%; height: 100%; display: block; float: left;" do
                          削除
/                     %tr.even.gradeC
/                       %td Trident
/                       %td Internet Explorer 5.0
/                       %td Win 95+
/                       %td Win 95+
/                       %td Win 95+
/                       %td Win 95+
/                       %td Win 95+
/                       %td.center
/                         =link_to root_path, class: "edit-btn", style: "width: 50%; height: 100%; display: block; float: left;" do
/                           編集
/                         =link_to root_path, class: "delete-btn", style: "width: 50%; height: 100%; display: block; float: left;" do
/                           削除
/                     %tr.odd.gradeA
/                       %td Trident
/                       %td Internet Explorer 5.5
/                       %td Win 95+
/                       %td Win 95+
/                       %td Win 95+
/                       %td Win 95+
/                       %td Win 95+
/                       %td.center
/                         =link_to root_path, class: "edit-btn", style: "width: 50%; height: 100%; display: block; float: left;" do
/                           編集
/                         =link_to root_path, class: "delete-btn", style: "width: 50%; height: 100%; display: block; float: left;" do
/                           削除
/                     %tr.even.gradeA
/                       %td Trident
/                       %td Internet Explorer 6
/                       %td Win 98+
/                       %td Win 95+
/                       %td Win 95+
/                       %td Win 95+
/                       %td Win 95+
/                       %td.center
/                         =link_to root_path, class: "edit-btn", style: "width: 50%; height: 100%; display: block; float: left;" do
/                           編集
/                         =link_to root_path, class: "delete-btn", style: "width: 50%; height: 100%; display: block; float: left;" do
/                           削除
/                     %tr.odd.gradeA
/                       %td Trident
/                       %td Internet Explorer 7
/                       %td Win XP SP2+
/                       %td Win 95+
/                       %td Win 95+
/                       %td Win 95+
/                       %td Win 95+
/                       %td.center
/                         =link_to root_path, class: "edit-btn", style: "width: 50%; height: 100%; display: block; float: left;" do
/                           編集
/                         =link_to root_path, class: "delete-btn", style: "width: 50%; height: 100%; display: block; float: left;" do
/                           削除
/                     %tr.even.gradeA
/                       %td Trident
/                       %td AOL browser (AOL desktop)
/                       %td Win XP
/                       %td Win 95+
/                       %td Win 95+
/                       %td Win 95+
/                       %td Win 95+
/                       %td.center
/                         =link_to root_path, class: "edit-btn", style: "width: 50%; height: 100%; display: block; float: left;" do
/                           編集
/                         =link_to root_path, class: "delete-btn", style: "width: 50%; height: 100%; display: block; float: left;" do
/                           削除
/                     %tr.gradeA
/                       %td Gecko
/                       %td Firefox 1.0
/                       %td Win 98+ / OSX.2+
/                       %td Win 95+
/                       %td Win 95+
/                       %td Win 95+
/                       %td Win 95+
/                       %td.center
/                         =link_to root_path, class: "edit-btn", style: "width: 50%; height: 100%; display: block; float: left;" do
/                           編集
/                         =link_to root_path, class: "delete-btn", style: "width: 50%; height: 100%; display: block; float: left;" do
/                           削除
/                     %tr.gradeA
/                       %td Gecko
/                       %td Firefox 1.5
/                       %td Win 98+ / OSX.2+
/                       %td Win 95+
/                       %td Win 95+
/                       %td Win 95+
/                       %td Win 95+
/                       %td.center
/                         =link_to root_path, class: "edit-btn", style: "width: 50%; height: 100%; display: block; float: left;" do
/                           編集
/                         =link_to root_path, class: "delete-btn", style: "width: 50%; height: 100%; display: block; float: left;" do
/                           削除
/                 /     %tr.gradeA
/                 /       %td Gecko
/                 /       %td Firefox 2.0
/                 /       %td Win 98+ / OSX.2+
/                 /       %td.center 1.8
/                 /     %tr.gradeA
/                 /       %td Gecko
/                 /       %td Firefox 3.0
/                 /       %td Win 2k+ / OSX.3+
/                 /       %td.center 1.9
/                 /     %tr.gradeA
/                 /       %td Gecko
/                 /       %td Camino 1.0
/                 /       %td OSX.2+
/                 /       %td.center 1.8
/                 /     %tr.gradeA
/                 /       %td Gecko
/                 /       %td Camino 1.5
/                 /       %td OSX.3+
/                 /       %td.center 1.8
/                 /     %tr.gradeA
/                 /       %td Gecko
/                 /       %td Netscape 7.2
/                 /       %td Win 95+
/                 /       %td Win 95+/ Mac OS 8.6-9.2
/                 /       %td.center 1.7
/                 /     %tr.gradeA
/                 /       %td Gecko
/                 /       %td Netscape Browser 8
/                 /       %td Win 98SE+
/                 /       %td.center 1.7
/                 /     %tr.gradeA
/                 /       %td Gecko
/                 /       %td Netscape Navigator 9
/                 /       %td Win 98+ / OSX.2+
/                 /       %td.center 1.8
/                 /     %tr.gradeA
/                 /       %td Gecko
/                 /       %td Mozilla 1.0
/                 /       %td Win 95+ / OSX.1+
/                 /       %td.center 1
/                 /     %tr.gradeA
/                 /       %td Gecko
/                 /       %td Mozilla 1.1
/                 /       %td Win 95+ / OSX.1+
/                 /       %td.center 1.1
/                 /     %tr.gradeA
/                 /       %td Gecko
/                 /       %td Mozilla 1.2
/                 /       %td Win 95+ / OSX.1+
/                 /       %td.center 1.2
/                 /     %tr.gradeA
/                 /       %td Gecko
/                 /       %td Mozilla 1.3
/                 /       %td Win 95+ / OSX.1+
/                 /       %td.center 1.3
/                 /     %tr.gradeA
/                 /       %td Gecko
/                 /       %td Mozilla 1.4
/                 /       %td Win 95+ / OSX.1+
/                 /       %td.center 1.4
/                 /     %tr.gradeA
/                 /       %td Gecko
/                 /       %td Mozilla 1.5
/                 /       %td Win 95+ / OSX.1+
/                 /       %td.center 1.5
/                 /     %tr.gradeA
/                 /       %td Gecko
/                 /       %td Mozilla 1.6
/                 /       %td Win 95+ / OSX.1+
/                 /       %td.center 1.6
/                 /     %tr.gradeA
/                 /       %td Gecko
/                 /       %td Mozilla 1.7
/                 /       %td Win 98+ / OSX.1+
/                 /       %td.center 1.7
/                 /     %tr.gradeA
/                 /       %td Gecko
/                 /       %td Mozilla 1.8
/                 /       %td Win 98+ / OSX.1+
/                 /       %td.center 1.8
/                 /     %tr.gradeA
/                 /       %td Gecko
/                 /       %td Seamonkey 1.1
/                 /       %td Win 98+ / OSX.2+
/                 /       %td.center 1.8
/                 /     %tr.gradeA
/                 /       %td Gecko
/                 /       %td Epiphany 2.20
/                 /       %td Gnome
/                 /       %td.center 1.8
/                 /     %tr.gradeA
/                 /       %td Webkit
/                 /       %td Safari 1.2
/                 /       %td OSX.3
/                 /       %td.center 125.5
/                 /     %tr.gradeA
/                 /       %td Webkit
/                 /       %td Safari 1.3
/                 /       %td OSX.3
/                 /       %td.center 312.8
/                 /     %tr.gradeA
/                 /       %td Webkit
/                 /       %td Safari 2.0
/                 /       %td OSX.4+
/                 /       %td.center 419.3
/                 /     %tr.gradeA
/                 /       %td Webkit
/                 /       %td Safari 3.0
/                 /       %td OSX.4+
/                 /       %td.center 522.1
/                 /     %tr.gradeA
/                 /       %td Webkit
/                 /       %td OmniWeb 5.5
/                 /       %td OSX.4+
/                 /       %td.center 420
/                 /     %tr.gradeA
/                 /       %td Webkit
/                 /       %td iPod Touch / iPhone
/                 /       %td iPod
/                 /       %td.center 420.1
/                 /     %tr.gradeA
/                 /       %td Webkit
/                 /       %td S60
/                 /       %td S60
/                 /       %td.center 413
/                 /     %tr.gradeA
/                 /       %td Presto
/                 /       %td Opera 7.0
/                 /       %td Win 95+ / OSX.1+
/                 /       %td.center -
/                 /     %tr.gradeA
/                 /       %td Presto
/                 /       %td Opera 7.5
/                 /       %td Win 95+ / OSX.2+
/                 /       %td.center -
/                 /     %tr.gradeA
/                 /       %td Presto
/                 /       %td Opera 8.0
/                 /       %td Win 95+ / OSX.2+
/                 /       %td.center -
/                 /     %tr.gradeA
/                 /       %td Presto
/                 /       %td Opera 8.5
/                 /       %td Win 95+ / OSX.2+
/                 /       %td.center -
/                 /     %tr.gradeA
/                 /       %td Presto
/                 /       %td Opera 9.0
/                 /       %td Win 95+ / OSX.3+
/                 /       %td.center -
/                 /     %tr.gradeA
/                 /       %td Presto
/                 /       %td Opera 9.2
/                 /       %td Win 88+ / OSX.3+
/                 /       %td.center -
/                 /     %tr.gradeA
/                 /       %td Presto
/                 /       %td Opera 9.5
/                 /       %td Win 88+ / OSX.3+
/                 /       %td.center -
/                 /     %tr.gradeA
/                 /       %td Presto
/                 /       %td Opera for Wii
/                 /       %td Wii
/                 /       %td.center -
/                 /     %tr.gradeA
/                 /       %td Presto
/                 /       %td Nokia N800
/                 /       %td N800
/                 /       %td.center -
/                 /     %tr.gradeA
/                 /       %td Presto
/                 /       %td Nintendo DS browser
/                 /       %td Nintendo DS
/                 /       %td.center 8.5
/                 /       %td.center
/                 /         C/A
/                 /         %sup 1
/                 /     %tr.gradeC
/                 /       %td KHTML
/                 /       %td Konqureror 3.1
/                 /       %td KDE 3.1
/                 /       %td.center 3.1
/                 /       %td.center C
/                 /     %tr.gradeA
/                 /       %td KHTML
/                 /       %td Konqureror 3.3
/                 /       %td KDE 3.3
/                 /       %td.center 3.3
/                 /     %tr.gradeA
/                 /       %td KHTML
/                 /       %td Konqureror 3.5
/                 /       %td KDE 3.5
/                 /       %td.center 3.5
/                 /     %tr.gradeX
/                 /       %td Tasman
/                 /       %td Internet Explorer 4.5
/                 /       %td Mac OS 8-9
/                 /       %td.center -
/                 /       %td.center X
/                 /     %tr.gradeC
/                 /       %td Tasman
/                 /       %td Internet Explorer 5.1
/                 /       %td Mac OS 7.6-9
/                 /       %td.center 1
/                 /       %td.center C
/                 /     %tr.gradeC
/                 /       %td Tasman
/                 /       %td Internet Explorer 5.2
/                 /       %td Mac OS 8-X
/                 /       %td.center 1
/                 /       %td.center C
/                 /     %tr.gradeA
/                 /       %td Misc
/                 /       %td NetFront 3.1
/                 /       %td Embedded devices
/                 /       %td.center -
/                 /       %td.center C
/                 /     %tr.gradeA
/                 /       %td Misc
/                 /       %td NetFront 3.4
/                 /       %td Embedded devices
/                 /       %td.center -
/                 /     %tr.gradeX
/                 /       %td Misc
/                 /       %td Dillo 0.8
/                 /       %td Embedded devices
/                 /       %td.center -
/                 /       %td.center X
/                 /     %tr.gradeX
/                 /       %td Misc
/                 /       %td Links
/                 /       %td Text only
/                 /       %td.center -
/                 /       %td.center X
/                 /     %tr.gradeX
/                 /       %td Misc
/                 /       %td Lynx
/                 /       %td Text only
/                 /       %td.center -
/                 /       %td.center X
/                 /     %tr.gradeC
/                 /       %td Misc
/                 /       %td IE Mobile
/                 /       %td Windows Mobile 6
/                 /       %td.center -
/                 /       %td.center C
/                 /     %tr.gradeC
/                 /       %td Misc
/                 /       %td PSP browser
/                 /       %td PSP
/                 /       %td.center -
/                 /       %td.center C
/                 /     %tr.gradeU
/                 /       %td Other browsers
/                 /       %td All others
/                 /       %td -
/                 /       %td.center -
/                 /       %td.center U
/                 / / /.table-responsive














/ !!!
/ %html{:lang => "en"}
/   %head
/     %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
/     %meta{:charset => "utf-8"}/
/     %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
/     %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
/     %meta{:content => "", :name => "description"}/
/     %meta{:content => "", :name => "author"}/
/     %title メンバー一覧
/     / Bootstrap Core CSS
/     = stylesheet_link_tag    'font-awesome.css', media: 'all', 'data-turbolinks-track': 'reload'
/     = stylesheet_link_tag    'bootstrap.css', media: 'all', 'data-turbolinks-track': 'reload'
/     = stylesheet_link_tag    'metisMenu.css', media: 'all', 'data-turbolinks-track': 'reload'
/     = stylesheet_link_tag    'sb-admin-2.css', media: 'all', 'data-turbolinks-track': 'reload'
/     = stylesheet_link_tag    'morris.css', media: 'all', 'data-turbolinks-track': 'reload'
/   %body
/     #wrapper
/       / Navigation
/       %nav.navbar.navbar-default.navbar-static-top{:role => "navigation", :style => "margin-bottom: 0"}
/         .navbar-header
/           %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
/             %span.sr-only Toggle navigation
/             %span.icon-bar
/             %span.icon-bar
/             %span.icon-bar
/           %a.navbar-brand 学生団体CHAD管理システム
/         / /.navbar-header
/         %ul.nav.navbar-top-links.navbar-right
/           %li.dropdown
/             %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
/               %i.fa.fa-user.fa-fw
/               %i.fa.fa-caret-down
/             %ul.dropdown-menu.dropdown-user
/               %li
/                 %a{href: "#"}
/                   %i.fa.fa-user.fa-fw
/                   プロフィール
/               %li
/                 %a{href: "#"}
/                   %i.fa.fa-gear.fa-fw
/                   設定
/               %li.divider
/               %li
/                 %a{href: "login.html"}
/                   %i.fa.fa-sign-out.fa-fw
/                   ログアウト
/             / /.dropdown-user
/           / /.dropdown
/         / /.navbar-top-links
/         .navbar-default.sidebar{:role => "navigation"}
/           .sidebar-nav.navbar-collapse
/             %ul#side-menu.nav
/               %li.sidebar-search
/                 .input-group.custom-search-form
/                   %input.form-control{:placeholder => "Search...", :type => "text"}/
/                   %span.input-group-btn
/                     %button.btn.btn-default{:type => "button"}
/                       %i.fa.fa-search
/                 / /input-group
/               %li
/                 %a{href: "/admin"}
/                   %i.fa.fa-dashboard.fa-fw
/                   Dashboard
/               %li
/                 %a{href: "/admin/kiseis"}
/                   %i.fa.fa-bar-chart-o.fa-fw
/                   期生
/                   %span.fa.arrow
/                 / %ul.nav.nav-second-level
/                 /   %li
/                 /     %a{href: "flot.html"} Flot Charts
/                 /   %li
/                 /     %a{href: "morris.html"} Morris.js Charts
/                 / /.nav-second-level
/               %li
/                 %a{href: "tables.html"}
/                   %i.fa.fa-table.fa-fw
/                   メンバー
/               %li
/                 %a{href: "forms.html"}
/                   %i.fa.fa-edit.fa-fw
/                   お問い合わせ
/                 / /.nav-second-level
/           / /.sidebar-collapse
/         / /.navbar-static-side
/       #page-wrapper
/         .row
/           .col-lg-12
/             %h1.page-header お問い合わせ一覧
/           / /.col-lg-12
/         / /.row
/         .row
/           .col-lg-12
/             .panel.panel-default
/               .panel-heading
/                 Contacts DataTables
/               / /.panel-heading
/               .panel-body
/                 %table#dataTables-example.table.table-striped.table-bordered.table-hover{width: "100%"}
/                   %thead
/                     %tr
/                       %th 名前
/                       %th メール
/                       %th 大学・企業
/                       %th 学年
/                       %th 問い合わせ内容
/                       %th 作成日時
/                       %th 更新日時
/                   %tbody
/                     -@contacts.each do|contact|
/                       %tr.odd.gradeX
/                         %td
/                           =contact.name
/                         %td
/                           =contact.email
/                         %td
/                           =contact.university
/                         %td
/                           =contact.grade
/                         %td
/                           =contact.text
/                         %td
/                           =contact.created_at
/                         %td.center
/                           =contact.updated_at
/                     / %tr.even.gradeC
/                     /   %td Trident
/                     /   %td Internet Explorer 5.0
/                     /   %td Win 95+
/                     /   %td.center 5
/                     /   %td.center
/                     /   %td.center
/                     /   %td.center
/                     / %tr.odd.gradeA
/                     /   %td Trident
/                     /   %td Internet Explorer 5.5
/                     /   %td Win 95+
/                     /   %td.center 5
/                     /   %td.center
/                     /   %td.center
/                     /   %td.center
/                     / %tr.even.gradeA
/                     /   %td Trident
/                     /   %td Internet Explorer 6
/                     /   %td Win 98+
/                     /   %td.center 6
/                     /   %td.center
/                     /   %td.center
/                     /   %td.center
/                     / %tr.odd.gradeA
/                     /   %td Trident
/                     /   %td Internet Explorer 7
/                     /   %td Win XP SP2+
/                     /   %td.center 7
/                     /   %td.center
/                     /   %td.center
/                     /   %td.center
/                     / %tr.even.gradeA
/                     /   %td Trident
/                     /   %td AOL browser (AOL desktop)
/                     /   %td Win XP
/                     /   %td.center 6
/                     /   %td.center
/                     /   %td.center
/                     /   %td.center
/                     / %tr.gradeA
/                     /   %td Gecko
/                     /   %td Firefox 1.0
/                     /   %td Win 98+ / OSX.2+
/                     /   %td.center 1
/                     /   %td.center
/                     /   %td.center
/                     /   %td.center
/                     / %tr.gradeA
/                     /   %td Gecko
/                     /   %td Firefox 1.5
/                     /   %td Win 98+ / OSX.2+
/                     /   %td.center 1
/                     /   %td.center
/                     /   %td.center
/                     /   %td.center.8
