!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title SB Admin 2 - Bootstrap Admin Theme
    = stylesheet_link_tag    'font-awesome.css', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'bootstrap.css', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'metisMenu.css', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'sb-admin-2.css', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'morris.css', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    #wrapper
      / Navigation
      %nav.navbar.navbar-default.navbar-static-top{:role => "navigation", :style => "margin-bottom: 0"}
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand 学生団体CHAD管理システム
        / /.navbar-header
        %ul.nav.navbar-top-links.navbar-right
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              %i.fa.fa-user.fa-fw
              %i.fa.fa-caret-down
            %ul.dropdown-menu.dropdown-user
              %li
                %a{href: "#"}
                  %i.fa.fa-user.fa-fw
                  プロフィール
              %li
                %a{href: "#"}
                  %i.fa.fa-gear.fa-fw
                  設定
              %li.divider
              %li
                %a{href: "login.html"}
                  %i.fa.fa-sign-out.fa-fw
                  ログアウト
            / /.dropdown-user
          / /.dropdown
        / /.navbar-top-links
        .navbar-default.sidebar{:role => "navigation"}
          .sidebar-nav.navbar-collapse
            %ul#side-menu.nav
              %li.sidebar-search
                .input-group.custom-search-form
                  %input.form-control{:placeholder => "Search...", :type => "text"}/
                  %span.input-group-btn
                    %button.btn.btn-default{:type => "button"}
                      %i.fa.fa-search
                / /input-group
              %li
                %a{href: "index.html"}
                  %i.fa.fa-dashboard.fa-fw
                  Dashboard
              %li
                %a{href: "/admin/kiseis"}
                  %i.fa.fa-bar-chart-o.fa-fw
                  期生
                  %span.fa.arrow
                / %ul.nav.nav-second-level
                /   %li
                /     %a{href: "flot.html"} Flot Charts
                /   %li
                /     %a{href: "morris.html"} Morris.js Charts
                / /.nav-second-level
              %li
                %a{href: "/admin/users"}
                  %i.fa.fa-table.fa-fw
                  メンバー
              %li
                %a{href: "/admin/contacts"}
                  %i.fa.fa-edit.fa-fw
                  お問い合わせ
                / /.nav-second-level
          / /.sidebar-collapse
        / /.navbar-static-side
      #page-wrapper
        .row
          .col-lg-12
            %h1.page-header 期生作成
          / /.col-lg-12
        / /.row
        .row
          .col-lg-12
            .panel.panel-default
              .panel-heading
                Kiseis Create Form
              .panel-body
                .row
                  .col-lg-6
                    %form{:role => "form"}
                      .form-group
                        %label 期生
                        %input.form-control{ placeholder: "例）一期生"}
                        / %p.help-block Example block-level help text here.
                      / .form-group
                      /   %label Text Input with Placeholder
                      /   %input.form-control{:placeholder => "Enter text"}/
                      / .form-group
                      /   %label Static Control
                      /   %p.form-control-static email@example.com
                      / .form-group
                      /   %label File input
                      /   %input{:type => "file"}/
                      .form-group
                        %label 紹介文
                        %textarea.form-control{ placeholder: "例）僕たち一期生は学生団体CHADを創設しました。"}
                      / .form-group
                      /   %label Checkboxes
                      /   .checkbox
                      /     %label
                      /       %input{:type => "checkbox", :value => ""}>/
                      /       Checkbox 1
                      /   .checkbox
                      /     %label
                      /       %input{:type => "checkbox", :value => ""}>/
                      /       Checkbox 2
                      /   .checkbox
                      /     %label
                      /       %input{:type => "checkbox", :value => ""}>/
                      /       Checkbox 3
                      / .form-group
                      /   %label Inline Checkboxes
                      /   %label.checkbox-inline
                      /     %input{:type => "checkbox"}>/
                      /     1
                      /   %label.checkbox-inline
                      /     %input{:type => "checkbox"}>/
                      /     2
                      /   %label.checkbox-inline
                      /     %input{:type => "checkbox"}>/
                      /     3
                      / .form-group
                      /   %label Radio Buttons
                      /   .radio
                      /     %label
                      /       %input#optionsRadios1{:checked => "checked", :name => "optionsRadios", :type => "radio", :value => "option1"}>/
                      /       Radio 1
                      /   .radio
                      /     %label
                      /       %input#optionsRadios2{:name => "optionsRadios", :type => "radio", :value => "option2"}>/
                      /       Radio 2
                      /   .radio
                      /     %label
                      /       %input#optionsRadios3{:name => "optionsRadios", :type => "radio", :value => "option3"}>/
                      /       Radio 3
                      / .form-group
                      /   %label Inline Radio Buttons
                      /   %label.radio-inline
                      /     %input#optionsRadiosInline1{:checked => "checked", :name => "optionsRadiosInline", :type => "radio", :value => "option1"}>/
                      /     1
                      /   %label.radio-inline
                      /     %input#optionsRadiosInline2{:name => "optionsRadiosInline", :type => "radio", :value => "option2"}>/
                      /     2
                      /   %label.radio-inline
                      /     %input#optionsRadiosInline3{:name => "optionsRadiosInline", :type => "radio", :value => "option3"}>/
                      /     3
                      / .form-group
                      /   %label Selects
                      /   %select.form-control
                      /     %option 1
                      /     %option 2
                      /     %option 3
                      /     %option 4
                      /     %option 5
                      / .form-group
                      /   %label Multiple Selects
                      /   %select.form-control{:multiple => "multiple"}
                      /     %option 1
                      /     %option 2
                      /     %option 3
                      /     %option 4
                      /     %option 5
                      %button.btn.btn-default{:type => "submit"} 作成
                      / %button.btn.btn-default{:type => "reset"} Reset Button
                  / /.col-lg-6 (nested)
                  / .col-lg-6
                  /   %h1 Disabled Form States
                  /   %form{:role => "form"}
                  /     %fieldset{:disabled => "disabled"}
                  /       .form-group
                  /         %label{:for => "disabledSelect"} Disabled input
                  /         %input#disabledInput.form-control{:disabled => "disabled", :placeholder => "Disabled input", :type => "text"}/
                  /       .form-group
                  /         %label{:for => "disabledSelect"} Disabled select menu
                  /         %select#disabledSelect.form-control
                  /           %option Disabled select
                  /       .checkbox
                  /         %label
                  /           %input{:type => "checkbox"}>/
                  /           Disabled Checkbox
                  /       %button.btn.btn-primary{:type => "submit"} Disabled Button
                  /   %h1 Form Validation States
                  /   %form{:role => "form"}
                  /     .form-group.has-success
                  /       %label.control-label{:for => "inputSuccess"} Input with success
                  /       %input#inputSuccess.form-control{:type => "text"}/
                  /     .form-group.has-warning
                  /       %label.control-label{:for => "inputWarning"} Input with warning
                  /       %input#inputWarning.form-control{:type => "text"}/
                  /     .form-group.has-error
                  /       %label.control-label{:for => "inputError"} Input with error
                  /       %input#inputError.form-control{:type => "text"}/
                  /   %h1 Input Groups
                  /   %form{:role => "form"}
                  /     .form-group.input-group
                  /       %span.input-group-addon @
                  /       %input.form-control{:placeholder => "Username", :type => "text"}/
                  /     .form-group.input-group
                  /       %input.form-control{:type => "text"}/
                  /       %span.input-group-addon .00
                  /     .form-group.input-group
                  /       %span.input-group-addon
                  /         %i.fa.fa-eur
                  /       %input.form-control{:placeholder => "Font Awesome Icon", :type => "text"}/
                  /     .form-group.input-group
                  /       %span.input-group-addon $
                  /       %input.form-control{:type => "text"}/
                  /       %span.input-group-addon .00
                  /     .form-group.input-group
                  /       %input.form-control{:type => "text"}/
                  /       %span.input-group-btn
                  /         %button.btn.btn-default{:type => "button"}
                  /           %i.fa.fa-search
