Webサイトからお問い合わせがありました。
二、三日以内に返信してください。
\
\--------------------------
\
お名前: #{@contact.name}
\
メールアドレス: #{@contact.email}
\
学校・企業名: #{@contact.university}
\
学年: #{@contact.grade}
\
お問い合わせ:
\
\#{@contact.text}
\
\--------------------------
